<div class="section-2 center chapter-wrapper">

  <div class="profile-image-parent">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Friend,</p>

    <p class="left">
      The West Nashville Phoenix Lodge—How intriguing! This must be our next destination.
Once you have arrived, please enter the day of the month that its members meet.

    </p>


    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input5" class="quiz-input oswald" type="text" placeholder="Enter Address">
    <button class="btn oswald">Submit</button>
  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Here is the text for hint #4
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Here is the text for hint #5
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Here is the text for hint #6
  {{/modal-dialog}}
{{/if}}



  <div class="forward-wrapper">
    {{#link-to 'knights-of-infernal-order.adventure.chapter2-3'}}
    <button class="btn-question medium white center oswald">Back</button>

     {{/link-to}}

    <button class="btn-question medium white center oswald"{{action "toggleModal4"}}>Hint</button>

  </div>
  {{#link-to 'knights-of-infernal-order.adventure.chapter2-5' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}}

  </div>


{{outlet}}
{{ember-modals}}
