<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Friend,</p>

    <p class="left">
      Charles Eastman is undoubtedly pointing Mr. Woodson to somewhere of importance in this bible verse! Use it as a clue as you search the temple grounds.
    </p>
<p class="left">As soon as you have an answer to this perplexing riddle, enter it below for our researchers. But take heed—if the Order hasn't already deciphered the anagram at the saloon, it will not take them long. They could already be on their way to the Temple of the Blazing Star!
</p>

    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input6" class="quiz-input oswald" type="text" placeholder="Enter Answer">
    <div class="forward-wrapper">
      {{#link-to 'knights-of-infernal-order.adventure.chapter2-6'}}
      <button class="btn medium white center im-fell-english">Back</button>

       {{/link-to}}
       <button class="btn im-fell-english" type="submit">Submit</button>

      <button class="btn medium white center im-fell-english"{{action "toggleModal4"}}>Hint</button>

    </div>

  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
                  Our researchers suggest you look for the landmarks as well as follow the actions described in Shakespeare’s verse
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
                  Secret societies were known for using many cipher systems. Try to uncover which this might be.
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
Research shows that the particular code used to encipher this message is known as the pig pen code.
  {{/modal-dialog}}
{{/if}}



  {{!-- {{#link-to 'knights-of-infernal-order.adventure.chapter3-1' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}} --}}

  </div>


{{outlet}}
{{ember-modals}}
