<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Excellent work, my friend!
</p>

    <p class="left">
      Our researchers have concluded that the address you entered is correct! Please hurry to that location and input how many wolves are on the facade of the building.
    </p>
<p class="left">Remember to be on the lookout for anyone else who may be prowling about.</p>

    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input2" class="quiz-input oswald" type="text" placeholder="Enter Answer">
    <div class="forward-wrapper">
      {{#link-to 'knights-of-infernal-order.adventure.chapter1-3'}}
      <button class="btn medium white center im-fell-english padding-rl-2">Back</button>

       {{/link-to}}
       <button class="btn im-fell-english" type="submit">Submit</button>

      {{!-- <button class="btn medium white center im-fell-english"{{action "toggleModal4"}}>Hint</button> --}}

    </div>

  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
You're looking for wolves on a bulding facade that you know the address to..... it's not like you can miss them.
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
You're trolling for answers aren't you?
{{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
Seriously I'm not helping you with this.  You know where it is, just go there and look!  {{/modal-dialog}}
{{/if}}



  {{#link-to 'knights-of-infernal-order.adventure.chapter1-5' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}}

  </div>


{{outlet}}
{{ember-modals}}
