<div class="section-2 center chapter-wrapper">

  <div class="profile-image-parent">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Friend,</p>

    <p class="left">
      Most regrettably, our researchers have not been able to discern anything of merit from the last clue. Being unfamiliar with the area puts them at a great disadvantage, but perhaps you will have better luck finding a lead to follow.
    </p>

    <p class="left">Research the solution to Eastman’s coded message further. If you feel you have found the location the journal speaks of, enter the address below.</p>
    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input7" class="quiz-input oswald" type="text" placeholder="Enter Address">
    <button class="btn oswald">Submit</button>
  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
Centre Star is spelled in a peculiar manner. This could be the name of something official or ceremonial.
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
                  If Charles Eastman was part of a local secret society, it stands to reason that Capt. Green was apart of one as well.
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
                  Our researcher have finally turned something up. Search the Centre Star Lodge #409

  {{/modal-dialog}}
{{/if}}



  <div class="forward-wrapper">
    {{#link-to 'knights-of-infernal-order.adventure.chapter3-2'}}
    <button class="btn-question medium white center oswald">Back</button>

     {{/link-to}}

    <button class="btn-question medium white center oswald"{{action "toggleModal4"}}>Hint</button>

  </div>
  {{#link-to 'knights-of-infernal-order.adventure.chapter3-4' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}}

  </div>


{{outlet}}
{{ember-modals}}
