<div class="section-2 center chapter-wrapper">

  <div class="profile-image-parent">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Friend,</p>

    <p class="left">
      If the historical marker and article are
              accurate, then Frank and Jesse most certainly
              lived in that area. There must be a more
              precise location to search in the Edgefield
              neighborhood. Do your best to dig further and
              enter the address below.
    </p>


    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

<p class="left">
  Post Script: We have just received
              troubling news. The Infernal Order has made
              it's way into Whites Creek. You must make your
              escape before it is too late.
</p>
  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input10" class="quiz-input oswald" type="text" placeholder="Enter Address">
    <button class="btn oswald">Submit</button>
  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Here is the text for hint #10
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Here is the text for hint #11
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Here is the text for hint #12
  {{/modal-dialog}}
{{/if}}



  <div class="forward-wrapper">
    {{#link-to 'knights-of-infernal-order.adventure.chapter4-2'}}
    <button class="btn-question medium white center oswald">Back</button>

     {{/link-to}}

    <button class="btn-question medium white center oswald"{{action "toggleModal4"}}>Hint</button>

  </div>
  {{#link-to 'knights-of-infernal-order.adventure.chapter4-4' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}}

  </div>


{{outlet}}
{{ember-modals}}
