<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Friend,</p>

    <p class="left">
      If the historical marker and article are accurate, then Jesse James most certainly lived in the Egdefield area. We believe there must be a precise location to search in the historic neighborhood.
    </p>

<p class="left">Do your best to dig deeper into Jesse James’ ties to Edgefield and enter the address below, but be forewarned…We have just received troubling news that the Infernal Order has made its way into Whites Creek. You must make your escape before it’s too late!</p>
    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input10" class="quiz-input oswald" type="text" placeholder="Enter Address">
    <div class="forward-wrapper">
      {{#link-to 'knights-of-infernal-order.adventure.chapter4-2'}}
      <button class="btn medium white center im-fell-english">Back</button>

       {{/link-to}}
       <button class="btn im-fell-english" type="submit">Submit</button>

      <button class="btn medium white center im-fell-english"{{action "toggleModal4"}}>Hint</button>

    </div>

  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
Our researchers tell me Jesse James lived in at least 3 locations in Edgefield. But only one remains standing to this day.  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
Additional information has been delivered that states the home at 606 Boscobel was demolished in the 1960’s  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
His reported home at 900 Woodland ave was destroyed some years ago as well.  {{/modal-dialog}}
{{/if}}



  {{#link-to 'knights-of-infernal-order.adventure.chapter4-4' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}}

  </div>


{{outlet}}
{{ember-modals}}
