<div class="section-2 center chapter-wrapper">

  <div class="image-parent margin-top-bottom">
    <img class="image" src="/img/swirly.png" alt="">
  </div>
  <div class="list-div auto-margin">
    <p class="left">Friend,</p>

    <p class="left">
      You've done it again! It's only logical that this second Temple might also be masquerading as a Masonic lodge. We must visit this location to further investigate its connection to the Order. Once you arrive, please enter the name engraved on the granite plaque behind the lodge’s sign.

    </p>


    <p class="left">
      Sincerely,
    </p>
    <p class="left">
      Q.
    </p>

  </div>


  <form class="quiz-box" {{action "check" on="submit"}} >
    <input id="input8" class="quiz-input oswald" type="text" placeholder="Enter Answer">
    <div class="forward-wrapper">
      {{#link-to 'knights-of-infernal-order.adventure.chapter3-3'}}
      <button class="btn medium white center im-fell-english padding-rl-toMatchSubmit">Back</button>

       {{/link-to}}
       <button class="btn im-fell-english" type="submit">Submit</button>

      {{!-- <button class="btn medium white center im-fell-english"{{action "toggleModal4"}}>Hint</button> --}}

    </div>

  </form>







{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Look on the granite plaque behind the lodge's sign.
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal2}}
  {{#modal-dialog close="toggleModal2"
                  targetAttachment="center"
                  translucentOverlay=true}}
                  Look on the granite plaque behind the lodge's sign.
  {{/modal-dialog}}
{{/if}}

{{#if isShowingModal3}}
  {{#modal-dialog close="toggleModal3"
                  targetAttachment="center"
                  translucentOverlay=true}}
                  Look on the granite plaque behind the lodge's sign.....wow.  How many times I have to say that?
  {{/modal-dialog}}
{{/if}}



  {{!-- {{#link-to 'knights-of-infernal-order.adventure.chapter3-5' class="forward"}}   {{fa-icon "fa-caret-right" class= "bigger black"}}
{{/link-to}} --}}

  </div>


{{outlet}}
{{ember-modals}}
